.classpath
.project
.cache-main
.cache-tests
.settings/
target/
project/target
.cache
.idea/
.cache-main
.envrc
bin/
native
*.pyc
*.pem
*.stackdump
*.tfvars
*.tfstate
*.tfstate.backup
*.deb
*.tgz
*.log
.terraform/
node_modules/
dump.rdb

.DS_Store

.credentials